* {
  margin: 0;
  padding: 0;
}

:root {
  --off-white: #F6F1F1;
  --blue-1: #146C94;
  --blue-2: #19A7CE;
  --off-black: rgb(32, 31, 7);

  font-family: 'Inter', sans-serif;
}

#root {
  min-width: 320px;
}

h1 {
  font-size: 1.2em;
  font-weight: lighter;
  white-space: nowrap;
}

h3 {
  font-size: 1em;
}

/********************/
/* HEADER COMPONENT */
/********************/

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(--off-black);
  color: white;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

.header-name {
  font-size: 1em;
  font-weight: 100;
  /* font-family: 'Courier New', Courier, monospace; */
}

#header-container-logo {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
}

.header-logo {
  width: 1.5em;
}

/*********************/
/* CONTACT COMPONENT */
/*********************/

#contact-background {
  margin: 0;
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container {
  display: grid;
  margin: 2em;
  padding: 5% 2em 5% 2em;
  border-style: solid;
  border-radius: 4px;
  border-color: var(--off-black);
  background-color: white;
  box-shadow: 4px 4px 2px 1px rgb(0, 0, 0, 0.15);
  justify-items: center;
  /* align-items: center; */
  max-width: 832px;
}

/* .contact-button-section {
  display: grid;
  align-items: center;
} */

#contact-button {
  position: relative;
  left: 25%;
  margin: 20px 0 20px 0;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--blue-1);
  color: white;

  font-size: 16px;
}

#contact-text {
  color: var(--blue-2);
}

.circle {
  width: 9rem;
  height: 9rem;
  margin: 0.9rem;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--off-black);
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.25); /* Initial shadow position */
  animation: shadowMove 8s ease-in-out infinite; /* Apply both animations */
}

.circle img {
  width: 100%;
  height: auto;
}

@keyframes shadowMove {
  0% {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Initial shadow position */
  }
  50% {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* Move right */
  }
  100% {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Return to initial position */
  }
}

/********************/
/* ABOUT COMPONENT  */
/********************/

#about-container {
  display: grid;
  grid-gap: 2em;
  align-items: start;
  padding: 1em 10% 1em 10%;
}

.about-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.about-column h2, .about-column h3 {
  font-size: large;
  font-weight: 100;
  color: black;
  letter-spacing: 5px;
  margin-bottom: 0.75em;
}

.about-column h3 {
  color: var(--blue-1);
}

.about-column p, .about-column ul {
  font-size: 14px;
}

/*************************/
/* TECHNOLOGY COMPONENT  */
/*************************/

#technology-container {
  font-family: Monaco, monospace;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  background-color: var(--blue-2);
  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.25);
  border-style: solid;
  border-color: rgb(32, 31, 7);
  border-radius: 4px;
  padding: 0.25em 1.5em;
  margin: 1em 1em;
  color: white;
}

#technology-icon {
  margin: 0.5em;
  font-size: 30px;
}

/************************/
/* EDUCATION COMPONENT  */
/************************/

#education-container {
  margin: 1em 0;
  padding: 0.75em;
  background-color: var(--off-white);
  border-style: solid;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.25);
}

#education-container > p {
  font-size: 13px;
}

#education-container > ul {
  padding: 1em;
}

/*********************/
/* FOOTER COMPONENT  */
/*********************/

#footer-container {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(32, 31, 7);
  margin-top: 4em;
  padding: 2em;
  font-size: small;
}

/**************/
/* BIG SCREEN */
/**************/
@media only screen and (min-width: 768px){

  #contact-background {
    display: flex;
    align-items: center;
  }

  .contact-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2em;
  }

  .contact-button-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }

  h1 {
    font-size: 3rem;
    font-weight: lighter;
  }

  .circle {
    width: 15rem;
    height: 15rem;
  }

  #contact-button {
    position: relative;
    left: 0;
    margin: 10px 0 10px 0;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--blue-1);
    color: white;
    font-size: 16px;
    letter-spacing: 5px;
  }

  #about-container {
    display: grid;
    grid-gap: 4em;
    justify-content: center;
    grid-template-columns: auto auto;
  }

  .about-column h2, .about-column h3 {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 5px;
    margin-bottom: 0.75em;
  }

  .about-column h4 {
    font-size: 1.3em;
    white-space: nowrap;
  }

  .about-column h3 {
    color: var(--blue-1);
  }

  .about-column p, .about-column ul {
    font-size: 1em;
    white-space: nowrap;
  }
}